<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCU-RD7RQvJ9-ySJF_hEPoxkAjWiq3uf68</string>
	<key>GCM_SENDER_ID</key>
	<string>53521358259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.colins.turtle.slap</string>
	<key>PROJECT_ID</key>
	<string>colins-turtle-slap</string>
	<key>STORAGE_BUCKET</key>
	<string>colins-turtle-slap.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53521358259:ios:c2547c3dae6820099f3fc6</string>
</dict>
</plist>
